body.about-page {
  overflow-x: hidden;
}

.polygon-2 {
  margin-top: -15rem;
  position: relative;
  z-index: -1;

  @include responsive(lg) {
    margin-top: -10rem;
  }
}

.about {
  &-section {
    &__title {
      font-size: 7.2rem;
      line-height: 8.7rem;

      @include responsive(md) {
        font-size: 3.8rem;
        line-height: 6.6rem;
        padding-top: 0rem;
        margin-top: 5rem;
      }
    }

    &__banner {
      height: calc(100vh - 80px);
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: center;

      &--down {
        padding-top: 10rem;
        background-image: url(../../public/images/bg/ellipse-blur-2.png);
        background-repeat: no-repeat;
        background-position: center -500px;

        @include responsive(lg) {
          padding-top: 5rem;
        }
      }
    }
  }
}

.culture {
  &-item {
    &__header {
      position: relative;
    }

    &__index {
      background: linear-gradient(
        180deg,
        rgba(44, 212, 176, 0.5) 0%,
        rgba(44, 212, 176, 0) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      font-size: 10rem;
      font-weight: 700;
      line-height: 1;

      margin-left: -1.5rem;
    }

    &__title {
      font-size: 2.6rem;
      line-height: 3.1rem;
      margin-top: -4.5rem;
    }

    &__body {
      font-size: 2.4rem;
      line-height: 2.9rem;
      font-weight: 300;
    }

    @include responsive(md) {
      &__index {
        font-size: 7rem;

        margin-left: 0;
      }

      &__title {
        font-size: 1.8rem;
        line-height: 2rem;
        margin-top: -2.5rem;
      }

      &__body {
        font-size: 1.6rem;
        line-height: 3rem;
      }
    }
  }
}

.values {
  background-image: url(../../public/images/about/symbol.png);
  background-repeat: no-repeat;
  background-position: center;

  @include responsive(md) {
    background-size: 80%;
    background-position: center 40%;
  }
}

.value {
  &-box {
    font-size: 2rem;
    line-height: 2.4rem;
    padding: 2rem;
    position: relative;

    @media (min-width: 992px) {
      min-height: 300px;
      background: rgba($color-white, 0.03);
      backdrop-filter: blur(134px);
      border-radius: 9px;
      border: 2px solid;
      border-image-slice: 1;
      border-width: 2px;
      border-image-source: linear-gradient(
        to bottom,
        rgba($color-white, 0.27),
        #000
      );
    }
  }
}

.our-team {
  padding-bottom: 10rem;
}

.team-member {
  &__avatar {
    min-height: 146px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    @include responsive(lg) {
      img {
        width: 150px;
      }
    }
  }
}

.team-member {
  &__name {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  &__role {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  @include responsive(md) {
    &__name {
      font-size: 1.4rem;
      line-height: 1.6rem;
    }

    &__role {
      font-size: 1rem;
    }
  }
}
