.home-banner {
  display: flex;
  justify-content: space-between;

  @include responsive(lg) {
    flex-direction: column;
  }
}

.banner-graphic {
  position: relative;

  &__coin {
    position: absolute;
    z-index: 10;
    // animation: 2s infinite spanAnimation;

    @include responsive(md) {
      img {
        width: 50%;
      }
    }

    &--lead {
      top: 2%;
      left: 4rem;
      animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    }

    &--sub-1 {
      top: 15rem;
      left: 45%;
      animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
    }

    &--sub-2 {
      top: 10rem;
      right: 10rem;
      animation-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
    }

    &--sub-3 {
      top: 45%;
      right: 20rem;
      animation-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
    }

    &--sub-4 {
      bottom: 14rem;
      left: 25rem;
      animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
    }
  }
}
