.footer {
  color: rgba($color-white, 0.5);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.6rem;
  text-align: center;

  margin-top: 27rem;
  padding-bottom: 2.4rem;

  background-image: url(../../public/images/bg/ellipse-blur.png);
  background-repeat: no-repeat;
  background-position: center;

  * {
    font-weight: inherit;
  }

  @include responsive(md) {
    margin-top: 5rem;
  }

  @include responsive(sm) {
    padding: 0 4rem;
    font-size: 1.4rem;
    margin-top: 5rem;
  }
}
