.header {
  background-color: $color-black;
  position: sticky;
  top: 0;
  z-index: 9999;

  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
  }

  @include responsive(md) {
    padding: 0 2rem;
  }
}

.nav {
  height: 100%;

  &-list {
    height: 100%;
    display: flex;

    @include responsive(lg) {
      display: none;
    }
  }

  &-item + &-item {
    margin-left: 6.4rem;
  }

  &-link {
    display: flex;

    height: 100%;
    align-items: center;

    color: $color-white;
    font-size: 1.7rem;
    line-height: 2.4rem;

    position: relative;

    transition: color 0.3s;

    &::after {
      content: "";

      background-color: $color-success;

      width: 0;
      height: 4px;

      position: absolute;
      bottom: 0;
      left: 0;

      transition: width 0.3s;
    }

    &.active,
    &:hover {
      color: $color-success;
    }

    &.active::after,
    &:hover::after {
      width: 100%;
    }
  }
}

.social-media {
  @include responsive(lg) {
    display: none;
  }

  &__list {
    display: flex;

    &--center {
      align-items: center;
      justify-content: center;
    }
  }

  &__item + &__item {
    margin-left: 1.6rem;
  }
}

.nav-mobile {
  background-color: #000;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;

  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 1s cubic-bezier(0.45, 1.61, 0.56, 1.01);

  transform: translateY(-100%);

  .nav-list {
    display: flex;
    flex-direction: column;
    height: auto;

    .nav-item {
      margin: 0;
      text-align: center;
    }

    .nav-link {
      padding: 1rem;
      display: inline-block;
    }
  }

  &.active {
    transform: translateY(0);
  }
}

.nav-toggle {
  width: 3rem;
  height: 2rem;

  position: relative;
  cursor: pointer;
  z-index: 999;

  @media only screen and (min-width: 992px) {
    display: none;
  }

  span {
    border-radius: 999px;
    position: absolute;
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 999px;
    background-color: $color-white;
    transition: all 0.3s;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
    }

    &:last-child {
      top: 100%;
    }
  }

  &.active span {
    &:nth-child(1) {
      top: 50%;
      transform: translateY(-50%) rotate(45deg) rotateY(180deg);
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateX(100%);
      opacity: 0;
      visibility: hidden;
    }

    &:last-child {
      top: 50%;
      transform: translateY(-50%) rotate(-45deg) rotateY(180deg);
    }
  }
}
